[2020-01-14 10:56] nvibert opened #14 "GoLang SDK availability"
FYI, when I follow the instructions to download the provider, I get a fatal error and a crash when running 'go get'.

go: github.com/vmware/vsphere-automation-sdk-go
"fatal: repository 'https://github.com/vmware/vsphere-automation-sdk-go/' not found"

I assume it's because the GoLang SDKs have not been pushed on GitHub yet ?

[2020-01-14 18:46] shylasrinivas commented on #14
Yes, the GoLang SDK is not public on GitHub due to which this error comes up. We are not sure when the SDK will be made public.

[2020-01-16 01:59] strefethen commented on #14
@nvibert Apologies. When we have a better understanding of the Go SDK timeline we'll follow up. In the meantime we've updated the README so other can avoid running into this problem.

[2020-01-16 13:42] nvibert commented on #14
Thanks @shylasrinivas and @strefethen for the quick replies. I'll wait patiently ;-)

[2020-01-16 13:42] #14 closed

[2020-01-21 17:18] cgriggs01 opened #16 "HashiCorp Partner Provider Program Review"
Hey Team,

I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking items and discussion. If it works better for you, this changes can be added to a separate branch if any changes conflict with your current build pr

[2020-01-21 21:00] saloneerege commented on #16
Thanks @cgriggs01 for reviewing the provider and providing your feedback. We will make these changes and notify you as soon as they are all completed.

[2020-01-22 19:28] saloneerege commented on #16
@cgriggs01  for the files CODE-OF-CONDUCT.md, CONTRIBUTING.md, NOTICE.txt, they have been added as a part of the open source process for the provider on VMware Github site.

[2020-01-22 23:12] rshade opened #19 "vsphere-automation-sdk-go is not public."
I tried building this plugin but I can't get to  https://github.com/vmware/vsphere-automation-sdk-go.

[2020-01-22 23:45] saloneerege commented on #19
@rshade Apologies. Thanks for reporting this issue. The vsphere-automation-sdk-go is currently private on Github and is in the process of becoming public. When we have a better understanding of the Go SDK timeline we'll follow up.

[2020-01-23 01:20] cgriggs01 commented on #16
Hi @saloneerege,

That should be ok, these are not typical throughout the rest of the providers, but if you need to keep these files, it will not block the certification and release.

Thanks for the question.

[2020-01-23 01:23] saloneerege commented on #16
Hi @cgriggs01 ,
  Thanks for the clarification.

[2020-01-23 15:08] rshade commented on #19
@saloneerege thank you.

[2020-01-27 17:15] strefethen commented on #19
@rshade FYI, the Go SDK is now publicly available.

Regards

[2020-01-27 17:19] rshade commented on #19
@strefethen thank you. `go get` now works.

[2020-01-27 17:19] #19 closed

[2020-01-28 07:01] sumitAgrawal007 commented on #16
Hi @cgriggs01 ,
In the second point "Attributes should be read and set on Read so that differences between the configuration and the actual state can be caught"
This is not very clear, Can you give me an example to clarify further?

[2020-02-05 01:52] cgriggs01 commented on #16
Hey @sumitAgrawal007,

The main point in that issue is that, when the provider uses a non scaler value (map, set, or list), the set should be error checked so that it will not panic or hit a segmentation fault.

I hope this helps, let me know if you have any further questions.

Best,
Chris

[2020-02-11 19:43] shylasrinivas commented on #34
Hi Federico, thanks for reporting this issue. I followed instructions under section "Build the Provider" in the ReadMe and was able to build the binary successfully. Can you provide more details on how you encountered this error?

[2020-02-11 20:39] federico-pellegatta commented on #34
Aren't we supposed to clone the `terraform-provider-vmc` repository into `$GOPATH/src/github.com/vmware/` instead of `$GOPATH/src/github.com/provider/`? (see PR #35)

Starting from scratch (empty `$GOPATH` folder):

[code]

[2020-02-11 21:53] shylasrinivas commented on #34
It shouldn't matter which path the repository is cloned to locally. I re-tried the steps mentioned in an empty $GOPATH folder and did not face issues.

After running go get you should see packages downloading as below
[code]

Did you run anything else after running go get? What versions of go and terraform are you using?

[2020-02-12 08:08] cgriggs01 commented on #16
Hi @sumitAgrawal007

Thanks for address all feedback. Everything looks great, the last item before we can release this provider it to get the acceptance tests passing. I was able to create an API Token from the account you provided, but hit the same error on each of the test. Could you help me to resolve this. Here is my
[test_output.txt](https://github.com/vmware/terraform-provider-vmc/files/4190

[2020-02-12 10:59] sumitAgrawal007 commented on #16
Hi @cgriggs01 ,
Looks like the refresh token you are using doesn't have access, so you are getting unauthorised error. Are you able to create any resource using the same refresh_token?

[2020-02-12 12:56] federico-pellegatta commented on #34
I got to the bottom of it. It was caused by my setup having an outdated `go` version installed.

[2020-02-12 18:42] cgriggs01 commented on #16
@sumitAgrawal007,

I have not been able to create any resource. The refresh_token was generated [here](https://console.cloud.vmware.com/csp/gateway/portal/#/user/tokens).

Thanks for you help on this.

[2020-02-12 18:46] shylasrinivas commented on #16
@cgriggs01
It looks like your account does not have the right permissions. Does your account belong to "Hashicorp EA Verification" org?  We are following up with the org owner @kusantosh .

[2020-02-12 19:02] shylasrinivas commented on #16
@cgriggs01 We have received confirmation that the account you are using has admin privileges. From the test_output.txt file, I can see that you are using short org ID. Can you change that to long org ID? If you click on the short Organization ID in VMC console, long ID is revealed. Please use that in the ORG_ID env variable before running make testacc.

[2020-02-12 19:11] cgriggs01 commented on #16
Thanks for that but I am getting the same error but with the long organization ID.

[2020-02-12 19:13] cgriggs01 commented on #16
The organization I have access to is called "Terraform Organization"

[2020-02-12 19:17] shylasrinivas commented on #16
Zoom? I can send you an invite.

[2020-02-12 19:28] cgriggs01 commented on #16
yes, you can send it to cgriggs@hashicorp.com

[2020-02-12 21:24] shylasrinivas commented on #16
I circled back with Santosh. According to him - "Terraform Organization" is an old org and should not be used. You can continue to use "Hashicorp EA Verification" org.

[2020-02-12 22:37] cgriggs01 commented on #16
Thanks @shylasrinivas,

That feedback we discuss was changing the hard coded value "DX AUTO Core Team" to an environment variable that can be set for running the test [data_source_vmc_org_test](https://github.com/vmware/terraform-provider-vmc/blob/master/vmc/data_source_vmc_org_test.go#L21) and would it be possible to change the env variable REFRESH_TOKEN to something more aligned with api_token w

[2020-02-14 19:07] shylasrinivas commented on #16
@cgriggs01 Based on your feedback, we have made changes to the acceptance tests. Please review.

[2020-02-19 23:23] saloneerege commented on #16
@cgriggs01 Please can provide any further feedback. Appreciate your help.

[2020-02-25 19:16] saloneerege commented on #16
@cgriggs01 can I close this issue since all the points mentioned in the above feedback comments have been addressed already ?

[2020-03-02 18:41] saloneerege commented on #47
Thanks Gilles @gchek for reporting this issue.  I will look into it and provide an update as soon as possible.

[2020-03-04 22:17] cgriggs01 commented on #16
Hey @saloneerege,

Let us keep this open as a thread to finish up the provider review.

Thanks for making the changes that where asked. I just have some feedback regarding the environment variables required for testing.

- [ ] All the environment variables declared in the provider should all be capitalized. The variable [APIToken](https://github.com/vmware/terraform-provider-vmc/blob/master/vmc/pr

[2020-03-04 22:21] shylasrinivas commented on #16
@cgriggs01 - for the first point - env variables are uppercase and have been moved to constants.go
https://github.com/vmware/terraform-provider-vmc/blob/master/vmc/constants.go#L17
When users run acceptance tests - the uppercase keys are displayed in the error.

[2020-03-04 22:22] cgriggs01 commented on #16
@shylasrinivas,

Thanks for that clarification, marking that complete now.

[2020-03-04 23:39] saloneerege commented on #16
Hi @cgriggs01,
     Thanks for reaching out.  I have sent you an email with steps describing how to get the AWS account number. I can even setup a call on Zoom if you prefer that.

Thanks,
Salonee

[2020-03-05 01:59] cgriggs01 commented on #16
Thanks for clarifying. Got it straighten out now.

Everything checks out so far. I'd like to start the migration and release process tomorrow. How does that sound to ya'll?

- A repository under the same name `terraform-providers-vmc` will be created in the  [github.com/terraform-repositories/](http://github.com/terraform-repositories/)  organization.
- Your provider code will be pushed up to the

[2020-03-05 07:43] saloneerege commented on #16
Hi @cgriggs01 ,
    Thanks for reviewing our changes and thanks for sharing next steps about releasing the provider. We will review the documents you have share and enable 2FA in our Github account. We will notify you as soon as we have completed the needful.

[2020-03-05 08:06] gchek commented on #47
another point:
- if `host_instance_type = R5.metal` we **MUST** have `storage_capacity` coded with a proper value.
- if `host_instance_type = i3.metal` we should **NOT** have `storage_capacity` coded.
Proper values for `storage_capacity` (EBS attached) are:
15 TB --> 15003
20 TB --> 20004
25 TB --> 25005
30 TB --> 30006
35 TB --> 35007

[2020-03-09 22:55] saloneerege commented on #16
Hi @cgriggs01 ,

    We have reviewed the documents and have enabled 2FA authentication. Please let us know if there is anything else needed on our end for the release process.

Thanks,
Salonee

[2020-03-11 17:41] gchek opened #3 "Resource should be re-created if manually destroyed"
I was hitting an issue today when I accidently deleted a resource that was created with VMC Terraform.
I had a public IP created with the provider and so described in my terraform.tfstate.

When I did a second apply, I got the following error:
`Error: Error getting public IP with ID 1e5dafc7-2e34-4822-a645-0ce1a8a0b09f : com.vmware.vapi.std.errors.not_found`

That’s normal since the resource has b

[2020-03-11 18:05] shylasrinivas commented on #3
@gchek Thanks for reporting the issue. We will look into it.

[2020-03-13 17:48] saloneerege commented on #47
This change has been implemented in https://github.com/terraform-providers/terraform-provider-vmc/pull/5

[2020-03-13 17:49] saloneerege commented on #16
Closing this issue since the terraform provider has been released.

[2020-03-13 17:49] #16 closed

[2020-03-17 09:27] gchek opened #54 "Increasing Storage for R5.METAL should not re-create the SDDC"
Today, when using `R5_METAL` as `host_instance_type`, the `storage_capacity` can be 15-20-25-30-35TB.
It is possible to **INCREASE** (not decrease) the capacity with increments of 5TB.
the API seems to be:
`/orgs/{org}/sddcs/{sddc}/clusters/{cluster}/reconfigure` where we can find the final desired storage capacity after reconfiguring the cluster.

[2020-03-17 18:31] saloneerege commented on #54
Hello @gchek ,
   Thanks for reporting this issue. We will look into it as soon as possible.

[2020-03-19 16:38] gchek opened #9 "Some descriptions in variables.tf need update"
`Create SDDC` was probably one of the first API created for VMC.
Some of the field descriptions are miss-leading, sometimes not updated, sometimes out-dated.

We need to fix 2 variables description in particular:

[code]
  description = "AWS VPC IP range. Only prefix of 16 or 20 is currently supported."

Change to : “ the SDDC  management network CIDR. Only prefix of 16, 20 and 23 are supported
-

[2020-03-19 18:10] saloneerege commented on #9
Thanks @gchek for raising this issue and providing your feedback. We will update the document.

[2020-03-19 22:36] #3 closed, assigned to shylasrinivas

[2020-03-20 18:33] #9 closed, assigned to saloneerege

[2020-04-27 15:15] gchek opened #18 "Error while reading ORG information"
While doing `terraform apply` I am getting errors:
`module.SDDC.vmc_sddc.Terraform_SDDC1: Refreshing state... [id=96ca6d5a-0ca3-4948-ab35-103706bbb089]
module.VPCs.aws_default_security_group.default: Refreshing state... [id=sg-0ea193c3f8a3d96ca]
module.EC2s.aws_network_interface.TKG-Eth0: Refreshing state... [id=eni-0979a65a7fdd9c3b6]
module.EC2s.aws_instance.TKG: Refreshing state... [id=i-0f23b48

[2020-04-28 17:46] saloneerege commented on #18
Thanks @gchek for reporting this issue. We will look into it and give you an update.

[2020-05-19 22:17] kolkes opened #28 "Modifying SDDC name in GUI doesn't reflect on Terraform"
After changing the name of my Terraform deployed SDDC from the GUI and later running `Terraform Refresh` to update the configuration, there is no update happening and the .tfstate file continues to show original SDDC name.

[2020-05-19 22:19] saloneerege commented on #28
Thank for reporting this issue @kolkes. As per our discussion, I will push a fix for this issue in the next release of the provider.

[2020-05-21 02:51] #28 closed, assigned to saloneerege

[2020-05-26 16:33] saloneerege opened #30 "Modifying sddc_type property in .tf file forces a redploy."
If SDDC is using the sddc_type property and it has been set to 1NODE, attempting to scale up this SDDC forces a redeploy.
<img width="922" alt="Screen Shot 2020-05-26 at 9 31 44 AM" src="https://user-images.githubusercontent.com/13123615/82926659-5fa53600-9f34-11ea-910f-8c8a684302b5.png">

[2020-05-27 00:02] saloneerege opened #31 "2 node cluster creation should be permitted for an SDDC with 3 nodes"
Main.tf file :
resource "vmc_sddc" "sddc_1" {
  sddc_name           = var.sddc_name
  vpc_cidr            = var.vpc_cidr
  num_host            = 3
  provider_type       = "AWS"
  region              = "US_WEST_2"
  vxlan_subnet        = var.vxlan_subnet
  delay_account_link  = false
  skip_creating_vxlan = false
  sso_domain          = "vmc.local"
  deployment_type = "SingleAZ"
  account_link_sddc

[2020-06-04 01:13] eligah opened #34 "terraform refresh fail to update the num_host on the terraform state file"
Some updating for the terraform state file is missing.

![image](https://user-images.githubusercontent.com/12780911/83703869-7f3bfe80-a5c5-11ea-991e-96a8ef7649a9.png)
![image](https://user-images.githubusercontent.com/12780911/83703888-895dfd00-a5c5-11ea-96fa-de90183bebda.png)

[2020-06-08 22:26] saloneerege commented on #31
This is not a bug since the error message being returned is correct. Cluster-1 can have 2 hosts but all the other clusters need to be between 3-16

[2020-06-08 22:26] #31 closed, assigned to nobody

[2020-06-09 17:39] eligah commented on #34
Fixed by adding num_host field in sddcRead.

[2020-06-19 21:29] #34 closed, assigned to nobody

[2020-06-26 07:14] gchek opened #44 "If main cluster is stretched, all new clusters in that SDDC must be stretched."
No mix between stretched and non stretched in one SDDC.
Must be same type. can be different host type

[2020-06-26 07:18] gchek opened #45 "If SDDC is destroyed, all related resources to that SDDC must be destroyed"
- public IPs
- SRM nodes
- VR nodes

[2020-06-26 16:58] saloneerege commented on #45
Thanks @gchek for reporting the issue. We will look into it.

[2020-06-26 16:58] saloneerege commented on #44
Thanks @gchek for reporting the issue. We will look into it.

[2020-07-02 18:20] #30 closed, assigned to nobody

[2020-07-02 18:24] saloneerege commented on #44
After conformation from VMware Cloud on AWS team, this is not a bug. The secondary clusters for an SDDC has the same deployment type as the SDDC itself. So if the SDDC deployment type is "MultiAZ" then the secondary clusters will also be stretched.

[2020-07-02 18:24] #44 closed, assigned to saloneerege

[2020-07-09 23:47] saloneerege opened #47 "If a cluster is manually deleted from an SDDC, terraform state file still contains cluster information"
I created an SDDC and cluster using terraform. After creation, I manually deleted the cluster. On executing terraform show command, terraform state file still contains information about the deleted cluster.

[2020-07-13 23:52] #47 closed, assigned to saloneerege

[2020-07-27 14:26] AdrianBegg opened #50 "If multiple values are provided in account_link_sddc_config.customer_subnet_ids the SDDC deployment fails and SDDC cannot be removed."
If the attribute customer_subnet_ids.connected_account_id is provided multiple objects (example an array of 3 subnet Id's) the terraform apply attempts to deploy the SDDC however the VMC Console reports "com.vmware.skyscraper.common.SkyscraperException: The provided account linking data contains more than one subnet for XXXXX. Only one is supported.:skyscraper.sddc.provision.config.too.many.subnet

[2020-07-27 14:40] AdrianBegg opened #51 "resource_vmc_sddc: missing attribute "size" to control SDDC size medium/large"
Hi, there is currently small coverage gap on the resource_vmc_sddc and no ability to define the SDDC attribute "size"/"sddcSize"  We require the ability to deploy sddcSize "large" using the SDDC (The size of the vCenter and NSX appliances). The attribute is currently not exposed and as such only the default "medium" can be deployed with the provider.

[2020-07-27 15:46] saloneerege commented on #50
@AdrianBegg thank you for reporting this issue.  We will look into it.

[2020-07-27 15:47] saloneerege commented on #51
@AdrianBegg Thank you for reporting this issue. We will be working on adding support for the attribute "size" in the next quarter.

[2020-08-06 07:43] appdess opened #53 "Random Error "Failed to read VMC Organization""
Hi, when creating a SDDC I am randomly getting the following error. It´s happening at around 50% of the executions. If i repeat the execution with the same data mostly the creation runs through.

Information:
Version: 1.3.0_x4 on MAC
Provider: AWS/ZEROCLOUD (No difference)
Error: Failed to read VMC Organization  (Error converting the object to byte stream: 'vapi.data.structure.getfield.unknown pro

[2020-08-06 15:56] saloneerege commented on #53
Thank you @appdess for reporting this issue. We will look into it.

[2020-08-11 17:46] #50 closed, assigned to saloneerege

[2020-08-11 17:47] saloneerege commented on #50
@AdrianBegg This fix has been merged to the master branch.

[2020-08-19 13:31] mattycourtney opened #56 "Importing existing SDDCs does not work correctly"
I want to use `terraform import` to manage an existing SDDC, but hit some unexpected behavior.
It seems that when doing an import, some attributes that are written to `terraform.tfstate` do not reflect the current state of the SDDC.

# Steps to reproduce:
1. Create a `main.tf` file like the example below
[code]
2. Run `terraform import vmc_sddc.SDDC_1 sddc_id_here`
3. Run `terraform plan`

# Expec

[2020-08-20 11:36] appdess commented on #53
Seems this was related to the TF-Version i was running. I´ve updated to v0.12.29 on MAC and never had the issue again. Therefore closing this issue...

[2020-08-20 11:36] #53 closed, assigned to nobody

[2020-08-25 03:48] mattycourtney commented on #56
My colleague @nvibert suggested that I need to include the above mentioned attributes in my `main.tf` prior to running `terraform import`. I tried that (see example `main.tf` below) and the results were the same.

[code]

[2020-08-25 19:30] saloneerege commented on #56
Thanks for the update @mattycourtney. I will look into this issue.

[2020-09-02 06:42] vbuild2bau opened #60 "SDDC API documentation is incomplete"
Referencing : https://developer.vmware.com/docs/vmc/latest/vmc/api/orgs/org/sddcs/post/

The field “sddc_type” does not document what the valid values are.  This leaves us guessing as to what to use, and in fact makes it near impossible to divine the correct API call to enable single host SDDC.

In comparison, the field “deployment_type” is properly documented with possible values.”

[2020-09-02 16:24] #51 closed, assigned to saloneerege

[2020-09-03 17:21] shylasrinivas commented on #60
@vbuild2bau thank you, we appreciate your feedback on the documentation. We are working with the VMC team to have more details added.

[2020-09-07 13:48] vbuild2bau opened #63 "Error with NSXT terraform provider"
I found what the issue was with the error, it appears that the provider is not accepting the alias meta-argument as per

https://www.terraform.io/docs/configuration/providers.html#alias-multiple-provider-configurations

As we has 2 SDDC's, therefore 2 NSX-T appliances I was trying to alias the provider block so that all the networking could be configured in one place, looks like this will need to

[2020-09-09 00:06] matt-dreyer commented on #60
Sorry about this.  This field may be populated as follows:

#normal SDDCs with 3-max hosts
sddc_type:  null

#Single Host SDDC
sddc_type: "1NODE"

[2020-09-09 00:32] vbuild2bau commented on #60
No probs.  Thanks for your efforts and prompt response.

[2020-09-09 00:32] #60 closed, assigned to nobody

[2020-09-09 06:51] vbuild2bau opened #64 "Feature Request : Remove SDDC Group"
Feature Request : Remove SDDC Group from VMC TF Provider.

At the moment VMC TF Provider can tear down SDDC with no checks if VTGW (SDDC Groups) is configured.  If SDDC is torn down without first removing SDDC Groups this can cause an issues that require backend support assistance.

Can we please add support within VMC TF Provider to tear down SDDC Groups.
And if possible a pre-check to make sure

[2020-09-09 18:40] saloneerege commented on #63
@vbuild2bau is this an issue with the NSXT provider ? I see that from the configuration details you have shared that the provider is "nsxt"

[2020-09-09 18:41] saloneerege commented on #64
@vbuild2bau Thank you for submitting this feature request. We will look into it.

[2020-09-09 23:55] vbuild2bau commented on #63
ah sorry my mistake let me move this issue.

[2020-09-09 23:55] #63 closed, assigned to nobody

[2020-10-13 11:47] AdrianBegg opened #68 "Feature Request : Configure SDDC Intranet Uplink MTU setting via terraform"
Could support please be added to the provider to set the Intranet Uplink MTU for the SDDC (SDDC > Networking & Security > Global Configuration > Intranet Uplink MTU).

With the MTU set to the default 1500 the throughput becomes constrained between the AWS Connected VPC and services hosted on the on-premises site (via DX); we have seen significant throughput increases using Jumbo Frames (e.g. backu

[2020-10-13 11:58] AdrianBegg opened #69 "Feature Request : Add msft-licensing configuration options to SDDC/Cluster"
Feature Request : Add msft-licensing configuration options to SDDC/Cluster

I would like to request that the terraform provided be enhanced to enable the Microsoft licencing options for the Clusters to be set via the terraform provider. This is required in order to set the Microsoft licencing status so that we can leverage the VMware SPLA licencing on VMC. This currently has to be set manually. If

[2020-10-14 21:26] saloneerege commented on #69
Thank you @AdrianBegg  for raising this issue. We will look into it.

[2020-10-14 21:27] saloneerege commented on #68
Thank you for reporting this issue. We will look into it.

[2020-10-23 21:37] nibrahv opened #70 "Broken "vmc_sddc" resource example usage due to change in "vmc_connected_accounts" data source"
Usage example in Terraform registry for "vmc_sddc" resource is incorrect due to change to "vmc_connected_accounts" data source.  "vmc_connected_accounts" now returns "id" attribute, rather than "ids[n]" attribute.

Reference:
https://registry.terraform.io/providers/vmware/vmc/latest/docs/resources/sddc

_Not working:_
data "vmc_customer_subnets" "my_subnets" {
  **connected_account_id = data.vmc_c

[2020-10-29 06:30] saloneerege commented on #70
@nibrahv Thanks for reporting this issue. That is an error in documentation for the resource. We will definitely get that fixed soon.

[2020-11-03 18:53] #70 closed, assigned to saloneerege

[2020-11-06 09:08] gchek opened #73 "Terraform registry doc: Unknown parameters"
https://registry.terraform.io/providers/vmware/vmc/latest/docs

what are vmc_url and csp_url (required) ????

[2020-11-06 09:10] gchek opened #74 "Terraform registry doc: Customer subnets"
https://registry.terraform.io/providers/vmware/vmc/latest/docs/data-sources/customer_subnets
why `num_hosts` and `instance_type` are there?

[2020-11-06 09:12] gchek opened #75 "TF 0.13 - Error deployment type SingleAZ requires 1 subnet ID"
With NO CODE CHANGES from 0.12 version, 0.13  complains  about customer subnet needed where it's clearly coded:
[code]

[2020-11-10 23:54] #69 closed, assigned to saloneerege

[2020-11-11 00:41] saloneerege commented on #73
Thank you for reporting this issue. vmc_url and csp_url should be optional and these are useful when someone wants to test the provider against the staging environment.  I will update the documentation to reflect that these fields are optional.

[2020-11-11 20:34] saloneerege commented on #74
Thanks for reporting this. After looking into the definition for the GET API to confirm why these fields were added in the data resource, I found that fields like num_hosts, instance_type, sddc_id, sddc_type are optional parameters. These have been defined by the API and hence I have  added these to the data source customer_subnets.

[2020-11-12 05:32] jontyq opened #76 "edrs settings are not truly "Optional""
It appears that the new `edrs` settings are not truly optional.

This manifests when using a single node (1NODE) type SDDC.

Using a terraform config where there are **no** edrs settings defined, we get an error on an update run.

The initial create works fine for some reason, however a subsequent plan and apply tries to change the edrs settings.  This then fails, because it tries to change them t

[2020-11-17 23:50] uprightvinyl opened #77 "Terraform registry doc: vmc_sddc - connected_accounts"
https://registry.terraform.io/providers/vmware/vmc/latest/docs/resources/sddc

The examples use `connected_account_id = data.vmc_connected_accounts.my_accounts.ids[0]`, which generates the following error:

[code]
`data.vmc_connected_accounts.my_accounts` returns a single value, so the examples should be updated to reflect that.

I would also suggest that the name for the data element be changed f

[2020-11-18 10:31] TP-87 opened #78 "sddc_type = “DEFAULT” seen as new addition on each apply"
On version 1.3 I had been leaving this blank sddc_type = “” This then used the default of DEFAULT the reason I did this is that if I specified DEFAULT each apply was wanting to replace the whole sddc where leaving blank worked fine with no issues.

On version 1.4 when our code used  sddc_type = “” this caused an error Error: expected sddc_type to be one of [1NODE DEFAULT], So I have replaced the v

[2020-11-18 10:37] TP-87 opened #79 "min_hosts key:value shows as a change on each apply when using Stretched SDDC"
When run plans/applies against a stretched sddc post build I am seeing  ~ min_hosts   = 6 -> 3  causing the output that the sddc is to be changed rather than everything is up to date.

[2020-11-18 10:46] TP-87 opened #80 "key:value vxlan_subnet is being populated when skip_creating_vxlan = true"
When I have no value for vxlan_subnet due to skipping the creation, I can see that it appears that a vxlan subnet has been created anyway with vxlan_subnet  = "192.168.1.0/24"

I can see that the segment has not been created so seems to just be a value populated on the backend that is now being pulled in the code the issue is that because we don’t have that value in our code the resetting this val

[2020-11-18 18:40] saloneerege commented on #77
Thanks for reporting this issue. This is a duplicate of https://github.com/vmware/terraform-provider-vmc/issues/70 and has already been resolved and merged into the master branch

[2020-11-18 18:40] #77 closed, assigned to saloneerege

[2020-11-18 18:44] saloneerege commented on #76
Thanks for reporting this issue. We will look into it.

[2020-11-18 18:45] saloneerege commented on #78
Thanks for reporting this issue. It has already been resolved and merged into the master branch

[2020-11-18 18:45] #78 closed, assigned to saloneerege

[2020-11-18 18:46] saloneerege commented on #79
Thank you for reporting this issue. We will look into it

[2020-11-18 18:47] saloneerege commented on #80
Thanks for reporting this issue. I will look into it.

[2020-11-18 23:36] tlindsay42 commented on #76
When attempting to disable eDRS with 2+ node clusters, the change is accepted but silently discarded, so the change is detected on every subsequent run.

[2020-11-19 18:55] saloneerege commented on #76
@tlindsay42 thanks for your feedback. Can you please elaborate on this scenario with exact steps ? This would help debug the issue.

[2020-11-19 19:26] tlindsay42 commented on #76
Sure thing. Basic `vmc_sddc` resource with `num_host` > 1 and `deployment_type` = `"SingleAZ"`. Set `enable_edrs` = `false` and `terraform apply`. The API will accept the request with no error. Run `terraform apply` again, and `enable_edrs` will be set to `true` again server side instead of `false`, so another change will be requested. If you apply the change again, the API will again accept the r

[2020-11-20 17:21] uprightvinyl commented on #75
I'm also seeing this same issue, error is:

`Error: deployment type SingleAZ requires 1 subnet ID `

I get a similar error for MultiAZ:

`Error: deployment type MultiAZ requires 2 subnet IDs, one in each availability zone `

[code]

[2020-11-20 21:38] saloneerege commented on #75
@uprightvinyl thanks for reporting this issue. Can you share your config (.tf)  file ?

[2020-11-20 21:38] #73 closed, assigned to saloneerege

[2020-11-21 06:43] uprightvinyl commented on #75
Upon further testing, I am able to replicate this error in both Terraform 0.12 and 0.13. The issue appears to be if the subnet used for `customer_subnet_ids` is being created at the same time as the SDDC. If I rename sddc.tf to sddc.tf.ignore, create the VPC and subnets, then re-run apply with sddc.tf renamed, it runs successfully. Trying to run in the same phase generates the error from my previo

[2020-11-21 11:35] gchek commented on #75
I never had that with 0.12 and ALWAYS created the VPC/subnet and SDDC in the same apply.
With 0.13 the same code complains that the subnet is not defined

Gilles

﻿
Upon further testing, I am able to replicate this error in both Terraform 0.12 and 0.13. The issue appears to be if the subnet used for customer_subnet_ids is being created at the same time as the SDDC. If I rename sddc.tf to sddc.tf.i

[2020-11-21 16:53] uprightvinyl commented on #75
With further testing, this appears to be a bug in terraform-providers/vmc v1.4.0. If I set the version to 1.3.0 for the vmc provider, I do not get the error, using Terraform v0.12 or 0.13.

I get the error with the following version info:

[code]

or using v0.13:

[code]

However the error does not occur with the previous vmc version:

[code]
and
[code]

@gchek, could this possible be that after u

[2020-11-22 06:49] gchek commented on #75
Yes Chris.
It’s possible because when I upgraded to 0.13 I re-init by removing the .terraform directory and did terraform init again so latest version is pulled in.

Gilles

﻿
With further testing, this appears to be a bug in terraform-providers/vmc v1.4.0. If I set the version to 1.3.0 for the vmc provider, I do not get the error, using Terraform v0.12 or 0.13.

I get the error with the following

[2020-11-22 15:48] tlindsay42 commented on #76
### First run

[code]

### Second run

[code]

[2020-11-23 20:01] saloneerege commented on #75
Thanks for providing detailed steps for reproducing the issue. We will look into it. @uprightvinyl

[2020-11-23 22:37] saloneerege commented on #76
@tlindsay42 Thanks for your detailed response. We will look into it.

[2020-11-24 03:24] jontyq opened #82 "Provider does not detect failed SDDC create, waits forever"
If an SDDC fails to create, the `vmc_sddc` resource will wait forever for the creation to succeed, instead of reporting the error.

Screenshot of SDDC in failed state:
![image](https://user-images.githubusercontent.com/2671668/100042465-9b777480-2e5f-11eb-892c-c1ef95296711.png)

Our Terraform `create` timeout is set to 300 minutes.  Our pipeline thus finished at the 5 hour mark below, instead of f

[2020-11-24 04:52] saloneerege commented on #82
Thanks for reporting this issue. We will look into it.

[2020-11-24 05:01] #74 closed, assigned to saloneerege

[2020-12-02 15:22] uprightvinyl opened #84 "Feature Request: New Resource - vmc.hcx"
Similar to the vmc_site_recovery resource, it would be useful to be able to enable the HCX add on via Terraform.

[2020-12-03 18:18] uprightvinyl commented on #56
I'm wondering if there has been any progress on this issue? I can report the exact same behaviour.

[2020-12-04 10:27] TP-87 opened #85 "Terraform not adding additional hosts to stretched SDDC"
Saw the issue when I tried changing the number of hosts in our stretched cluster from 6 to 8.

I saw that this change was correctly picked up as part of the terraform plan/apply

~ num_host               = 6 -> 8

The terraform apply also completed with no errors.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

[2020-12-04 18:26] saloneerege commented on #85
Thanks for reporting this issue. We will look into it.

[2020-12-04 18:27] saloneerege commented on #56
@uprightvinyl thanks for reporting this issue. We will prioritize this issue.

[2020-12-10 18:45] #82 closed, assigned to saloneerege

[2020-12-10 22:05] #79 closed, assigned to saloneerege

[2020-12-10 22:10] #45 closed, assigned to saloneerege

[2020-12-10 22:19] saloneerege commented on #79
The default for the field min_host was 3. As a result a terraform apply for a stretched SDDC would try to change the value to the default 3. We have now removed default on min_host defined in schema. Instead the resource's Read operation stores the default value for the field from the backend in the terraform state file. Closing this issue.

[2020-12-10 22:22] saloneerege commented on #82
Added an explicit check for returning an error when the SDDC creation returns a FAILED status. Closing this issue.

[2020-12-10 22:25] saloneerege commented on #50
Input validation corrected for customer_subnet_ids . Closing this issue.

[2020-12-15 05:47] saloneerege commented on #84
@uprightvinyl Thanks for reporting this feature request. We will look into it.

[2020-12-16 18:06] #80 closed, assigned to saloneerege

[2020-12-18 19:39] #68 closed, assigned to saloneerege

[2020-12-21 23:23] saloneerege commented on #85
I am not able to reproduce the issue. Closing the issue.

[2020-12-21 23:23] #85 closed, assigned to saloneerege

[2021-01-05 23:51] shylasrinivas commented on #80
@TP-87 fix for this issue is now available in the latest release [v1.5.0](https://github.com/vmware/terraform-provider-vmc/releases/tag/v1.5.0)

[2021-01-07 14:15] AdrianBegg commented on #68
After testing under v1.5.0 terraform it still does not appear to be possible to set/adjust this value in the vmc_sddc resource via terraform.

When adding "intranet_uplink_mtu = 1500" in the vmc_sddc resource under v1.5.0 terraform throws:
"Error: Unsupported argument
  on main.tf line 95, in resource "vmc_sddc" "SDDC":
  95:   intranet_uplink_mtu = 1500 # Uplink MTU of direct connect, sddc-groupi

[2021-01-07 14:51] AdrianBegg opened #92 "Feature Request : Data Sources - vmc_sddc"
Could consideration please be given to the extension of the provider to include a vmc_sddc data source ? I use the attributes of the SDDC objects in other modules/projects that consume the SDDCs and at the moment have to write a bunch of attributes (e.g. cloudadmin password, vsphere_uri, nsxt_rp_uri, UUID, etc.) to an external store (e.g. AWS Secrets Manager) and then using the aws_secretsmanager

[2021-01-07 18:04] saloneerege commented on #68
@AdrianBegg , thanks for using v1.5 of the provider and reporting your findings. The intranet_uplink_mtu attribute is an update attribute for SDDC resource. During SDDC creation the default value of 1500 is stored in the tf state file. After SDDC is created you can update the field and that calls the SDDC resource's Update method. As far as supporting it as a separate resource in the provider, int

[2021-01-11 22:30] shylasrinivas commented on #75
@gchek I haven't been able to reproduce this issue with vmc tf provider v1.4.0 and an already existing subnet.
Can you share the output of terraform plan? I believe a check was added in v1.4.0 for subnets to be present during SDDC create. This could be the reason for the error (since subnet is being created at the same time as sddc).

I can setup a call with you to discuss further.

[2021-01-11 23:47] jsowerby opened #93 "vmc_cluster resource tries to create new clusters simultaneously"
when creating multiple addition clusters within an SDDC the vmc provider attempt to create all clusters simultaneously which causes an error

**Behaviour**

The plan shows the creation of 2 additional clusters

[code]
when the apply is run the first cluster is created, the second fails

[code]

**Expected Behaviour**

Both clusters are created in a single apply step

[2021-01-12 00:06] jontyq commented on #93
Yes, we have experienced this.  API only allows sequential creation, please make the provider do the creation sequentially too.

[2021-01-12 00:28] jontyq opened #94 "Defaults should not be set to null - causes SDDC recreation"
For a 1NODE type (possibly for 3 node too, just haven't tested) the settings:
`enable_edrs`
`edrs_policy_type`
`max_hosts`
`min_hosts`

are all optional.  However, if we _don't_ specify them (being optional), we will have the SDDC recreated every time we apply the Terraform.

This is because the API returns values for all of the above settings, which are stored in the state file.  However, the pro

[2021-01-12 01:34] shylasrinivas commented on #56
@mattycourtney can you follow exact steps provided in [this](https://learn.hashicorp.com/tutorials/terraform/state-import?in=terraform/state&utm_source=WEBSITE&utm_medium=WEB_IO&utm_offer=ARTICLE_PAGE&utm_content=DOCS#import-the-container-into-terraform) tutorial and let me know the behavior in your setup?
I started with an empty sddc resource definition in main.tf, imported an existing SDDC and t

[2021-01-12 02:45] jontyq commented on #92
Hi Adrian,

Couple of comments.  In general, yes a vmc_sddc data source could be a nice thing.

1.)  It's not too hard to achieve what you want though by simply adding `output`s for the relevant bits of information you need.   This is common practice with Terraform to achieve your ends.  I know you have a list of them, the list is not _that_ extensive.

E.g., we don't hard-code the NSXT reverse pr

[2021-01-12 09:16] mattycourtney commented on #56
@shylasrinivas I no longer work at VMware or have access to a VMC environment. @nvibert is a keen Terraform user on the VMC SE team, you could try asking if he is willing and able to test this for you.

[2021-01-12 10:02] AdrianBegg commented on #92
Hi @jontyq,

So writing the attributes out via output variables or using another data provider (I am using the DynamoDB and AWS Secrets Store) is working fine to allow us to address the resources externally and I could write a module to wrap the API call - I guess the main motivation for a creating an vmc_sddc data provider in my view would be;

a) To decouple the terraform workflows which manages

[2021-01-14 11:44] uprightvinyl commented on #75
@shylasrinivas Thanks for the update. I have retested with v1.5.0 and this issue is still occurring. To recreate this issue, you will need to be creating the AWS subnet in the same ``terraform apply`` as the SDDC. This worked in v1.3, but it would appear the check added in 1.4, to see if the subnet is present, is breaking creation of the subnet at the same time as the SDDC. The check seems to be i

[2021-01-14 16:06] gchek opened #95 "*internal VMware* SDDC deployment fails with ZeroCloud"
When  `provider_type       = "ZEROCLOUD"`
there should be  no check around NSX reverse proxy since it doesn't exist.

[code]
1.3 is ok
1.4 is ok
1.5 fails

[2021-01-14 16:24] gchek commented on #75
you should not expect the subnet to be created.
the `customer_subnet_ids` can be a variable
in my code  - it is. and Terraform will create precedence of creating the subnet before creating the SDDC during apply

[2021-01-14 16:36] gchek commented on #94
you can  always use
[code]

[2021-01-14 16:39] gchek commented on #93
use     `depends_on = []` and set your creation sequence

[2021-01-14 16:49] shylasrinivas commented on #75
@uprightvinyl Thank you for retesting. Yes, a check was added in 1.4.0 which is causing the issue 1.3.0 onwards. This check was added to validate number of subnets for SingleAZ vs MultiAZ and to provide a meaningful message back to the user. I am looking at how to workaround this in the code and should have a fix ready soon.

[2021-01-14 21:51] shylasrinivas commented on #95
@gchek Please share the config used when you encountered this error. I am not sure I understand why you are trying to create public ip if NSX reverse proxy doesn't exist for zerocloud.

I tested this in 1.4.0 and got the reported error. This behavior is not specific to 1.5.0.
I also think this check is valid, because public IP cannot be created without NSX reverse proxy url and any attempt to do s

[2021-01-14 23:10] shylasrinivas commented on #56
@mattycourtney @nvibert @uprightvinyl Upon further testing, we have identified limitations with existing import SDDC functionality.

`terraform import` command works as expected and using below config post import for `terraform plan` shows that SDDC must be replaced. This will destroy the existing SDDC and create a new one which is undesirable. It is due to `delay_account_link` argument which is n

[2021-01-14 23:10] #56 closed, assigned to shylasrinivas

[2021-01-15 07:45] gchek commented on #95
See my slack message

[2021-01-15 11:26] jontyq commented on #94
Yeah, roughly the same as having to specify the default values; analysis - lets just fix this :-)

[2021-01-15 11:31] jontyq commented on #93
You could, however that would take much away from our sddc module, where the cluster list is a map supplied to the module.

The module employs a `for_each` on the cluster resource.

We are now left in the situation of having to write big warnings about code reviews to never add more than one cluster at a time ... and in a DR situation, our code can not simply be 're-applied' since multiple cluster

[2021-01-15 11:38] jontyq commented on #95
Just wanna say: Please give customers ZEROCLOUD!  This would allow us to shake out many bugs in our pipeline and TF code without having to wait 1.5 hours+ every time for a build!

(I know it's not your area, but hey if you can feed it up, many voices etc!)

[2021-01-15 16:47] #75 closed, assigned to shylasrinivas

[2021-01-19 16:38] #95 closed, assigned to shylasrinivas

[2021-01-21 15:00] AdrianBegg commented on #68
@saloneerege thank you for the additional information, it's a really good provider with good functional coverage and we are getting a lot of value out of it for management of our VMC product offerings.

I have done some further testing today  with the "intranet_mtu_uplink" attribute in the vmc_sddc resource block and everything is working as expected so I assume that there was some "user error" ru

[2021-01-21 22:46] saloneerege commented on #68
@AdrianBegg thanks for testing the provider with the enhancement and thank you for using the provider.

[2021-01-25 10:18] AdrianBegg opened #100 "intranet_mtu_uplink property on resource "vmc_sddc" does not update when deployment_type = "DEFAULT""
Hi,

I have hit a possible defect with the  vmc_sddc resource intranet_mtu_uplink property for SDDCs built with the deployment_type = "DEFAULT".

**Summary**: When setting intranet_mtu_uplink property to any non-default value (e.g. 8500) against a vmc_sddc resource where the "deployment_type" is set to "DEFAULT" , during the `terraform apply` after the SDDC is built terraform detects the drift and

[2021-01-25 17:21] shylasrinivas commented on #100
@AdrianBegg thank you for reporting the issue, will take a look.

[2021-02-02 00:10] #100 closed, assigned to shylasrinivas

[2021-02-08 15:39] uprightvinyl opened #102 "Using AWS specific region naming causes SDDC replacement"
### Expected Behavior
I can create a vmc_sddc using AWS specific region naming (e.g. eu-west-1).

### Current Behavior
The initial `apply` is successful, but a subsequent `plan` shows that the resource needs to be replaced, due to region naming changing from the VMware specific naming, which has been recorded in the state file, to the AWS specific naming, which is in the terraform configuration. N

[2021-02-08 16:38] uprightvinyl commented on #76
Using provider version 1.5.1, this error still occurs

[code]

[code]
[code]

[2021-02-22 18:40] uprightvinyl commented on #76
@saloneerege Any thoughts on the above, are you able to recreate this issue?

[2021-02-23 14:09] StorageMatt opened #103 "Feature Request: content library resource/data handlers"
One for the 'nice to have' list; a resource handler for the creation of content libraries with datastore selection and primary or secondary designation. Obviously then it'd need datastore[_cluster] selection, a publish switch for primary and a force_sync option if secondary is selected.
The data handler would assist with the downstream codebase(s) for customers looking for templates etc.

[2021-02-24 21:11] saloneerege commented on #76
@uprightvinyl Thanks for reporting this. @shylasrinivas can you look into this ?

[2021-03-26 18:20] #92 closed, assigned to shylasrinivas

[2021-03-26 18:23] shylasrinivas commented on #92
@AdrianBegg I have added support for new SDDC datasource. Please test it out and let us know if you have further feedback. We have purposefully left passwords out from the datasource due to security concerns. I can add it back based on the outcome of internal discussions.

[2021-05-11 18:55] ITblacksheep opened #106 "Support for M1 Mac"
With Go 1.1.16 the M1 is supported natively can we get a new release to support it?

[2021-05-13 22:41] shylasrinivas commented on #106
@ITblacksheep thank you for your request. I will bump up the version of go and let you know once the updated binary is released.

[2021-05-17 21:15] shylasrinivas commented on #106
@ITblacksheep I have released [1.6.0 version ](https://registry.terraform.io/providers/vmware/vmc/latest)of provider that is built with go 1.16.4. Please verify M1 Mac support and close this issue. Thanks.

[2021-07-29 04:05] shylasrinivas commented on #106
Closing this since there is no activity. Please open a new issue if there are problems with M1 Mac support.

[2021-07-29 04:05] #106 closed, assigned to shylasrinivas

[2021-08-07 16:56] xfirestyle2k opened #110 "SDDC deployment"
empty non-retryable error received. This is a bug with the Terraform provider and should be reported as a GitHub issue in the provider repository.
│
│   with vmc_sddc.sddc_3,
│   on main.tf line 18, in resource "vmc_sddc" "sddc_3":
│   18: resource "vmc_sddc" "sddc_3" {
│
╵

Hi, getting following error when I deploy a new SDDC.
However, deployment was successful and the SDDC is available.

terrafo

[2021-08-10 11:37] sumitAgrawal007 commented on #110
Can you update your terraform version and try pulling the latest terraform-provider-vmc and let us know.

[2021-08-10 12:18] xfirestyle2k commented on #110
Hi Sumit,
same error:
│ Error: empty non-retryable error received. This is a bug with the Terraform provider and should be reported as a GitHub issue in the provider repository.

 t --version
Terraform v1.0.4
on windows_amd64
+ provider registry.terraform.io/terraform-providers/vmc v1.7.0

[2021-08-16 05:51] xfirestyle2k commented on #110
Hi Sumit,
it's me again. I am also getting following error from time to time..

[2021-08-16 05:52] xfirestyle2k commented on #110
t apply
╷
│ Error:  Expected a value of type 'ListValue', but received a value of type '*data.StructValue'
│
│   with data.vmc_connected_accounts.my_accounts,
│   on main.tf line 9, in data "vmc_connected_accounts" "my_accounts":
│    9: data "vmc_connected_accounts" "my_accounts" {

Sorry.. I misclicked..

[2021-08-23 15:19] pcradduc commented on #110
I am having the same issue:

│ Error: empty non-retryable error received. This is a bug with the Terraform provider and should be reported as a GitHub issue in the provider repository.
│
│   with vmc_sddc.vmc_on_aws_sddc,
│   on SDDC.tf line 1, in resource "vmc_sddc" "vmc_on_aws_sddc":
│    1: resource "vmc_sddc" "vmc_on_aws_sddc" {
│

It did however deploy the SDDC, but when I ran plan the SDDC w

[2021-08-27 21:12] pcradduc opened #111 "After Initial Deployment SDDC Replacement is Forced"
This is the same issue reported here in issue #102 (https://github.com/vmware/terraform-provider-vmc/issues/102) except I am using version 1.7.

**Expected Behavior**
I can create a vmc_sddc using AWS specific region naming example us-west-2 and then make incremental updates

**Current Behavior**
The initial apply is successful, but  after that plan and apply shows that the resource needs to be re

[2021-09-01 16:54] xfirestyle2k commented on #18
I am running in this error often times as well, any updates here?

[2021-09-02 13:14] xfirestyle2k commented on #18
Hi,
gchek helped me with this error and it is resolved! THANKS A TON!
Solution is to remove:

# Empty data source defined in order to store the org display name and name in terraform state
data "vmc_org" "my_org" {
}

it is not longer needed. Can you please change this in the Example/SDDC folder?
Thanks!

[2021-09-07 05:01] Nick-Andreev opened #112 "Property "esx_hosts" in SddcResourceConfig is deprecated"
The esx_hosts field in SddcResourceConfig is deprecated and is being phased out. Could you please help updating the code to use the esx_host_list field under the cluster property instead?

This is an example where this field is being used in the provider to calculate the number of hosts in SDDC: https://github.com/vmware/terraform-provider-vmc/blob/master/vmc/resource_vmc_sddc.go#L418

In addition

[2021-09-07 05:19] Nick-Andreev opened #113 "Lack of multi-cluster SDDC support in "resourceSddcUpdate" function"
Correct me if I'm wrong, but judging by this code in the provider, it seems that the `resourceSddcUpdate` function assumes there's only one cluster in SDDC:

https://github.com/vmware/terraform-provider-vmc/blob/7a0699b1f34909795b53da8af7eb63a652fa4e11/vmc/resource_vmc_sddc.go#L577

When number of hosts in SDDC changes, `resourceSddcUpdate` function attempts to add or remove hosts to bring it back

[2021-09-29 09:04] jbianquetti-nami commented on #110
Same for me:
- SDDC is deployed but apply fails.
- TF wants to replace SDDC because it's tainted

[2021-10-12 08:05] gchek opened #115 "Direct access to NSX Manager"
With the recent opening of NSX manager direct access, we need some updates to the VMC provider.
The new NSX manager access has a couple of parameters we need to report in the output of the SDDC creation:

NSX Manager private IP
Cloud_admin password
Cloud_audit password
Various URLs for internal and external access

All this is available with a GET on the API:
https://vmc.vmware.com/api/network/{OR

[2021-10-12 08:06] #18 closed, assigned to nobody

[2021-10-13 14:41] mnemesh-pivotal commented on #110
Previously using version 1.5.1 we were able to deploy our SDDC.  Due to a problem we had to redeploy our SDDC.  Using 1.7.0 we received  this error.

We got the same error trying to destroy our SDDC.  After returning to 1.5.1 we were able to complete the destroy.  We are now deploying using 1.5.1 and will report back if there any any further issues.

[2021-11-10 10:30] #112 closed, assigned to nobody

[2021-11-10 13:59] riperez123 commented on #110
Any update on this issue? I have hit this bug as well

[2021-11-29 14:53] adeleporte opened #121 "NSX direct access information is missing from the documentation"

[2021-11-29 16:45] gchek opened #123 "rel 1.8 gives error at SDDC creation"
```│ Error:  Expected a value of type 'STRING', but received a value of type 'OPTIONAL' Invalid field 'secret' in structure 'com.vmware.vmc.model.csp_oauth_client' Invalid field 'nsx_native_client' in structure 'com.vmware.vmc.model.aws_sddc_resource_config' Invalid field 'resource_config' in structure 'com.vmware.vmc.model.sddc'```

The SDDC is created OK

doing a `terrafom plan` gives the same e

[2021-11-30 09:29] vanditsmehta commented on #121
https://github.com/vmware/terraform-provider-vmc/pull/122

[2021-11-30 09:30] #121 closed, assigned to nobody

[2021-11-30 09:30] #115 closed, assigned to nobody

[2021-12-08 14:32] samirshaik commented on #110
[code]

**When creating SDDC we get following error, SDDC gets created but state file marks the status as "tainted".**
[code]

**When destroying SDDC we get following error, but SDDC gets deleted.**

` Error: error deleting SDDC xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx: com.vmware.vapi.std.errors.service_unavailable`

**Find below snippet from logs**
`2021-12-09T06:08:17.516-0500 [INFO]  provider.terr

[2021-12-13 13:05] samirshaik commented on #110
@sumitAgrawal007 : Any updates on this? Are you still going to look into this issue?

[2021-12-14 08:35] vanditsmehta commented on #110
@samirshaik , We are working on the issue and try get the fix out at the earliest.

[2021-12-21 12:56] vmwbfairclough opened #124 "data "vmc_sddc" "sddc" returns error - Expected a value of type 'STRING', but received a value of type 'OPTIONAL' Invalid field 'secret' in structure 'com.vmware.vmc.model.csp_oauth_client'"
### Describe the bug

Using:

data "vmc_sddc" "sddc" {
  sddc_id = ****
}

returns the following error :
Error while getting the SDDC with ID ****,  Expected a value of type 'STRING', but received a value of type 'OPTIONAL' Invalid field 'secret' in structure 'com.vmware.vmc.model.csp_oauth_client' Invalid field 'nsx_native_client' in structure 'com.vmware.vmc.model.aws_sddc_resource_config' Inval

[2021-12-21 20:40] tenthirtyam commented on #103
Why not use the Terraform Provider for vSphere for this operation?

https://registry.terraform.io/providers/hashicorp/vsphere/latest/docs/resources/content_library

Ryan

[2022-01-05 20:29] uprightvinyl opened #125 "SDDC Creation Completes with "Error: empty non-retryable error received""
### Describe the bug

SDDC created successfully however apply phase completes with the following error message:

[code]

### Reproduction steps

[code]

### Expected behavior

Terraform should complete the apply phase without error.

### Additional context

Versions

[code]

Code

[code]

[2022-01-05 20:54] uprightvinyl commented on #125
The SDDC is shown as tainted in the state file. Untainting it allows for the terraform state to correctly match the actual state of the SDDC.

[2022-01-19 01:21] fstrudel commented on #123
@gchek Can you give the way to reproduce? what is the terraform file you used?

[2022-01-19 08:41] gchek commented on #123
Simple code with ZEROCLOUD:
[code]

[code]

[2022-01-19 09:46] gchek commented on #123
forcing 1.7 release with `versions.tf `gives same error.
[code]

[2022-01-19 17:44] fstrudel commented on #123
This commit brought a set of new fields: https://github.com/vmware/vsphere-automation-sdk-go/commit/7f5a24462e3448757c425ed307fa4dda7e8ccf2c
So the schemas defined in the provider must probably be updated: https://github.com/vmware/terraform-provider-vmc/blob/8bc571607687f86c68cc4777a872533d60b51b99/vmc/resource_vmc_sddc.go#L28

[2022-02-14 11:07] vanditsmehta commented on #111
Please use region field as described in this sample file: https://github.com/vmware/terraform-provider-vmc/blob/f92e5202f17c7593bda4ff345e90ba066d2f3912/examples/sddc/main.tf#L15

[2022-02-14 11:07] #111 closed, assigned to nobody

[2022-02-14 11:08] vanditsmehta commented on #102
Please use the region field as described in this example: https://github.com/vmware/terraform-provider-vmc/blob/f92e5202f17c7593bda4ff345e90ba066d2f3912/examples/sddc/main.tf#L15

[2022-02-14 11:08] #102 closed, assigned to nobody

[2022-02-14 11:11] vanditsmehta commented on #124
Duplicate of #123

[2022-02-14 11:12] vanditsmehta commented on #125
Duplicate of #110

[2022-02-16 10:27] #125 closed, assigned to nobody

[2022-02-16 10:27] #110 closed, assigned to sumitAgrawal007

[2022-02-16 19:49] jpeters-vmw opened #127 "Add support for Multi-AZ SDDCs with less than 6 hosts"
### Is your feature request related to a problem? Please describe.

Currently it is required that num_hosts be at least 6 for multi-az SDDCs, however 2 host multi-az SDDCs are now supported.

### Describe the solution you'd like

Modify the requirement for multi-az SDDCs to allow a minimum of 2 hosts instead of 6.

### Describe alternatives you've considered

_No response_

### Additional context

[2022-03-10 16:31] lamw opened #128 "Examples still contain reference to r5 (which does not exists in VMC-A service)"
### Describe the bug

See https://github.com/vmware/terraform-provider-vmc/blob/master/examples/cluster/variables.tf#L42 and https://github.com/vmware/terraform-provider-vmc/blob/master/examples/cluster/variables.tf#L47 as an example

### Reproduction steps

[code]

### Expected behavior

Should only  mention supported instance types (i3/i3en)

### Additional context

_No response_

[2022-03-14 04:34] anthonyspiteri opened #129 "Single Host Deployment"
### Describe the bug

In the doco is specifies that the minimum number of hosts is 3

https://registry.terraform.io/providers/vmware/vmc/latest/docs/resources/cluster#num_hosts

### Reproduction steps

[code]

### Expected behavior

Should be able to set hosts to 1 for Single-Node deployment

### Additional context

_No response_

[2022-03-16 17:32] lamw commented on #129
This is NOT a bug, you did not specify the correct param for 1-Node

By default, the VMC provider will assume you'll want "Production" grade SDDC which means 2 or more hosts.

If you wish to deploy 1-Node, you need to set `sddc_type` to `1NODE` (default value is `DEFAULT` and not required to set) and then specify `sddc_num_hosts` to `1`

[2022-03-17 09:13] anthonyspiteri commented on #129
Hey William... yep, that was missed and I knew it was something like that cause of the PowerShell.

That said the doco needs updating: https://registry.terraform.io/providers/vmware/vmc/latest/docs/data-sources/sddc#sddc_type At least to specify the options there.

Cheers

[2022-03-17 09:13] #129 closed, assigned to nobody

[2022-03-17 13:41] samirshaik opened #132 "Documentation seem to have typo"
### Describe the bug

As per documentation vmc_connected_accounts returns a list of connected accounts. Which doesn't seem right as in reality we do not see a list is being returned for a given aws account number.

https://registry.terraform.io/providers/vmware/vmc/latest/docs/data-sources/connected_accounts

Its a request to review the documentation and update accordingly.

[2022-03-29 06:59] dimitarproynov commented on #124
Closing as duplicate.

[2022-03-29 06:59] #124 closed, assigned to nobody

[2022-04-06 16:39] samirshaik opened #136 "Forcing min_hosts to be 3 when in reality 2 is acceptable value"
### Describe the bug

We are being forced to use minimum value of 3 with following error
```expected min_hosts to be in the range (3 - 16), got 2```

**main.tf**
[code]
variables.tf
[code]

### Reproduction steps

[code]

### Expected behavior

Expected result:
Plan will work successfully

Actual Result:
ERROR: ```expected min_hosts to be in the range (3 - 16), got 2```

### Additional context

_N

[2022-04-06 16:59] samirshaik commented on #136
If this is expected behavior (which may be true, now that I am exploring a bit). It may not hurt to mention the limit in the documentation for min_hosts and max_hosts to avoid any confusion.

[2022-05-05 18:18] tlindsay42 opened #138 "SDDC Group & vTGW resources & data sources"
### Is your feature request related to a problem? Please describe.

Customers should be able to deploy & destroy SDDC Groups and vTGW instances with this provider. This would make it easier for customers to deploy, experiment, learn, and manage these resources on their own, for G/SI partners to accelerate deployments on the customer's behalf as well as demo these advanced use cases, and for ISV pa

[2022-05-05 18:22] tlindsay42 commented on #138
NOTE: This would encompass: https://github.com/vmware/terraform-provider-vmc/issues/64

[2022-06-02 17:32] bbazan opened #139 "Running terraform plan: Error: The terraform-provider-vmc_v1.9.1 plugin crashed!"
### Describe the bug

Attempting terraform plan on an existing environment deployed from terraform, I get "Plugin did not respond" errors

The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ReadResource call. The plugin logs may contain more details.
╵

Stack trace from the terraform-provider-vmc_v1.9.1 plugin:

panic: runtime error: invalid memory address or nil

[2022-06-02 22:33] bbazan commented on #139
More info on this. I attempted to import the VMC SDDC into a newly created VM. The import failed as well:

 Error: Plugin did not respond
│
│ The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ReadResource call. The plugin logs may contain more details.
╵

Stack trace from the terraform-provider-vmc_v1.9.1 plugin:

panic: runtime error: invalid memory address or n

[2022-06-03 10:14] Girdhar1982 commented on #139
Same issues we are facing and error message is also same.. This has started logging after 31 May

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x10ddbf2]

goroutine 96 [running]:
github.com/vmware/terraform-provider-vmc/vmc.resourceSddcRead(0xc000964fc0, 0x130d480, 0xc0005980f0, 0xc000964fc0, 0x0)
        githu

[2022-06-03 10:29] dimitarproynov commented on #139
Hi Girdhar,

Try using the latest 1.9.1 version of the provider. If it crashes again, kindly provide steps to reproduce.

Best Regards,
_Proynov

[2022-06-03 11:08] Girdhar1982 commented on #139
Hi _Proynov... Others experiencing issue with 1.9.1 too, so looks like problem with all the versions.  To reproduce just run the terraform plan.

[2022-06-06 09:31] acartag7 commented on #139
It is still broken on all versions, maybe something was changed on VMC that is causing this.

[code]

[2022-06-07 03:30] harishkalyanpur commented on #139
@dimitarproynov - Thanks for looking into this issue. Do we have a workaround that can be followed while we are waiting for the fix to be released?

[2022-06-07 08:15] dimitarproynov commented on #139
The fix is out with the new release:

https://github.com/vmware/terraform-provider-vmc/releases/tag/v1.9.2

[2022-06-07 08:54] dimitarproynov commented on #139
We've tried the binary of the new version in the environment of the bug reporter and the issue seems to be fixed, so I'm closing this bug.

[2022-06-07 08:54] #139 closed, assigned to nobody

[2022-06-07 09:18] harishkalyanpur commented on #139
@dimitarproynov, It failed in our environment though with different error.

Stack trace from the terraform-provider-vmc_v1.9.2 plugin:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xb798ef]

goroutine 122 [running]:
github.com/vmware/terraform-provider-vmc/vmc.resourceClusterRead(0xc0002d9200, {0xcc9ba0?, 0xc0

[2022-06-07 11:12] dimitarproynov commented on #139
@harishkalyanpur I've released a new version, where I think your issue should be fixed:

https://github.com/vmware/terraform-provider-vmc/releases/tag/v1.9.3

[2022-06-07 11:32] harishkalyanpur commented on #139
@dimitarproynov - Thanks for the quick fix. Initial tests were successful.

[2022-06-08 08:58] #123 closed, assigned to nobody

[2022-07-05 07:38] dimitarproynov commented on #132
Hi @samirshaik

According to official documentation the connected_accounts API does indeed return a list:

https://developer.vmware.com/apis/vmc/latest/vmc/api/orgs/org/account-link/get/

[2022-07-05 07:39] #132 closed, assigned to nobody

[2022-07-12 12:25] dimitarproynov commented on #128
I've removed the references to R5 in the examples, but left the code, so customers with existing R5 environments can continue to manage them via Terraform.

[2022-07-12 12:25] #128 closed, assigned to dimitarproynov

[2022-07-12 13:42] dimitarproynov commented on #136
Fix is going to be released with next version.

[2022-07-12 13:42] #136 closed, assigned to nobody

[2022-07-14 20:21] samirshaik opened #149 "Not able to create SingleAZ deployment type with 6 min hosts"
### Describe the bug

Following configuration fails with this error - "Error:  Failed to create SDDC: [Maximum host limit of 4 hosts reached for the cluster. (code)115 ]". After SDDC is created we are able to make this change and re-deploy to add 2 new hosts. This behavior appear buggy.

[code]

### Reproduction steps

[code]
[code]

[2022-07-28 13:33] BenMcH opened #150 "Unable to choose our SDDC seller"
### Describe the bug

The VMWare account that we are currently working under has 2 listed sellers on the account, VMWare and AWS and according to the endpoint `https://vmc.vmware.com/api/billing/REDACTED_GUID/core/billing-accounts?is_default=false`, we have both AWS and VMWare as sellers of record on our account configuration. Interestingly enough, AWS is marked as our default in the returned payl

[2022-09-09 12:58] dimitarproynov commented on #94
The fix for this bug has been merged. It'll be out with the next release.

[2022-09-09 12:58] #94 closed, assigned to dimitarproynov

[2022-09-09 13:02] dimitarproynov commented on #103
The VMC service has no Content Library APIs, so after deploying an SDDC one should use the Terraform Provider for vSphere to import the VC from the SDDC and execute any content library APIs on it.

[2022-09-09 13:02] #103 closed, assigned to nobody

[2022-09-13 13:11] carsonpadawon commented on #76
I have run into the above issue.  Can someone take a look and see how to resolve?

 Error: EDRS policy cannot be updated for SDDC with type 1NODE

   with vmc_sddc.sddc_1,
   on main.tf line 24, in resource "vmc_sddc" "sddc_1":
   24: resource "vmc_sddc" "sddc_1" {

Terraform v1.2.9
on linux_amd64
+ provider registry.terraform.io/vmware/nsxt v3.2.8
+ provider registry.terraform.io/vmware/vmc v1.10

[2022-09-19 10:34] dimitarproynov commented on #76
The issue is caused by the behaviour of the SDDC properties:
edrs_policy_type
max_hosts
min_hosts
enable_edrs

Specifying them or not the provider assumed changes in these properties. On next run of "terraform apply" the code that checks for changes in the above properties was incorectly triggered and since the SDDC is 1NODE (that cannot change the above properties) the error was printed and execu

[2022-09-19 10:35] #76 closed, assigned to saloneerege

[2022-09-19 15:07] dimitarproynov commented on #149
Hi,

This is actually the default behavior of the SDDC provision flow. For new SDDC there is a configuration property for your Org that controlls the maximum number of hosts per *new* SDDC. The default value is 4.

I'm really not certain what the VMC folks had in mind with this restriction, but if it is an issue for you, please contact the
VMC support team and ask them to increase the value of the

[2022-09-19 15:07] #149 closed, assigned to nobody

[2022-09-20 08:46] dimitarproynov commented on #127
Hi,

The Terraform provider doesn't have any restrictions of the minimum number of hosts in an SDDC (other than num_hosts >= 1).

Any such restrictions are implemented in the VMC service. For the minimum number of hosts per SDDC in MultiAZ there is a configuration property with default value of 4. In your case it may have been changed to 6. Please turn to the VMC support team to change the Org's p

[2022-09-20 08:46] #127 closed, assigned to nobody

[2022-09-30 13:25] dimitarproynov commented on #93
Sadly there is no Terraform SDK feature to have a parallelisim control over the provider. I'll have to use a generic Go Mutex or something.

[2022-10-03 15:55] dimitarproynov commented on #113
Fix will be out with next release.

[2022-10-03 15:55] #113 closed, assigned to dimitarproynov

[2022-10-04 09:27] dimitarproynov commented on #150
Hi,

I've checked the code of the VMC service and it seems that there is an issue with the subscription of your organisation's billing account. This is not a problem with the Terraform provider. Please, contact VMC support and show them the error message you're getting.

Best Regards,
_Proynov

[2022-10-04 12:17] BenMcH commented on #150
@dimitarproynov While we have worked past our initial struggles with this, I still believe that it would be beneficial for the provider to be able to configure this setting:

<img width="2301" alt="image" src="https://user-images.githubusercontent.com/1274349/193816827-a60fa8a7-cc0d-47df-b7ba-31813e71d08f.png">

There is nothing preventing us from having multiple SDDCs with multiple sellers in the

[2022-10-14 07:09] dimitarproynov commented on #93
Fix has been submitted and will be out with the next version.

[2022-10-14 07:09] #93 closed, assigned to dimitarproynov

[2022-11-09 13:42] dimitarproynov commented on #64
v.1.12.0 is out bringing support for SDDC groups

https://github.com/vmware/terraform-provider-vmc/releases/tag/v1.12.0

[2022-11-09 13:42] #64 closed, assigned to nobody

[2022-11-09 13:59] dimitarproynov commented on #138
v1.12.0 is out, bringing support for SDDC Group creation, update members, deletion.

Attaching external TGW support will come in future release, so leaving this bug open.

[2022-11-09 15:45] dimitarproynov commented on #138
It seems that 1 SDDC Group = 1 vTGW and there is no API in VMC to create TGW as it is an AWS service. So there won't be any vTGW support in the terraform provider.

[2022-11-09 15:45] #138 closed, assigned to nobody

[2022-11-10 08:17] dimitarproynov commented on #84
The HCX add on is active by default on new SDDC deployments, so this bug has lost its relevance. Closing.

[2022-11-10 08:17] #84 closed, assigned to dimitarproynov

[2022-11-18 01:40] uprightvinyl commented on #84
Please could this issue be reopened. The feature request is to trigger the deployment of HCX within an SDDC, which does not happen by default.

[2022-11-24 00:09] Nareshcbit opened #164 "OAuth App support for VMC provider"
### Is your feature request related to a problem? Please describe.

VMWare on AWS supports two types of tokens for accessing API
API Token  : Associated with a user id
OAuth App: Not associated with a user id
Reference: https://vmc.techzone.vmware.com/resource/tech-reference-vmware-cloud-intro-api#

However, the terraform documentation(https://registry.terraform.io/providers/vmware/vmc/latest/docs